:root {
    --strong-cyan: hsl(172, 67%, 45%); /*cor das fontes dentro dos resultados*/
    --very-dark-cyan: hsl(183, 100%, 15%); /*cor do fundo dos resultados e dos botoes de %*/
    --dark-grayish-cyan-one: hsl(186, 14%, 43%);
    --dark-grayish-cyan-two: hsl(184, 14%, 56%);
    --page-bg-cyan: hsl(185, 41%, 84%);
    --light-grayish-cyan-two: hsl(189, 41%, 97%);
    --container-bg: hsl(0, 0%, 100%); /*fundo do container*/

    --font-lighter: 400;
    --font-bold: 500;
    --font-bolder: 700;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

input {
    outline: none;
    box-shadow: none;
    border: none;
    width: 100%;
    background-color: var(--light-grayish-cyan-two);
    font-family: 'Space Mono', monospace;
    font-weight: var(--font-bolder);
    font-size: 20px;
    color: var(--very-dark-cyan);
    border-radius: 5px;
    text-align: right;
}


input#billValue {
    background-image: url(./images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: 9px 50%;
    -moz-appearance:textfield;
    padding: 0 .5em;
}

/*For user inputs in blur/focus events:*/
.focus-highlight {
    box-shadow: inset 1px 1px 0 1px var(--strong-cyan), 
    inset -1px -1px 0 1px var(--strong-cyan);
}

input#totalPeople {
    background-image: url(./images/icon-person.svg);
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: 9px 50%;
    -moz-appearance:textfield;
    padding: 0 .5em;
}

input#customTipPercentage {
    -moz-appearance:textfield;
    text-align: center;
}



body {
    background-color: var(--page-bg-cyan);

    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-weight: var(--font-lighter);

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

main {
    margin: 1em;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-basis: 100%;
}


/*Placeholders customizing*/
::-webkit-input-placeholder, /* Chrome/Opera/Safari */
::-moz-placeholder, /* Firefox 19+ */
:-ms-input-placeholder, /* IE 10+ */
:-moz-placeholder { /* Firefox 18- */
    font-family: 'Space Mono', monospace;
    text-align: right;
    color: var(--very-dark-cyan);
}

.calc-container {
    display: flex;
    flex-direction: row;
    background-color: var(--container-bg);
    border-radius: 10px;
}

.calc-container-item {
    flex: 1 1 50%;
    border-radius: 10px;
}

#form {
    display: flex;
    flex-direction: column;
}

.form-area {
    padding: 1em;
    margin: 1em 0em 1em 1em;
    color: var(--dark-grayish-cyan-one);
    display: flex;
    justify-content: center;
    font-size: .8em;
}


/*Left: input area with grid for the percentage buttons*/
.form-area-item {
    margin: 1em 1em;
}
.btn-input-grid {
    display: grid;
    grid-template-columns: .5fr .5fr .5fr;
    column-gap: 1em;
    row-gap: .5em;
}

.form-area-item input[type="radio"] {
    opacity: 0;
    position: fixed;
}


fieldset label {
    
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    font-weight: var(--font-bolder);
    padding: .25em .5em;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--very-dark-cyan);
    color: var(--container-bg);
    text-align: center;
}
.label-grid {
    grid-column-start: 1;
    grid-column-end: 4;
    font-weight: var(--font-lighter);
    font-size: 15px;
}
input#btnFive {
    grid-column-start: 1;
}
.custom-percentage {
    border-radius: 5px;
}

fieldset label:hover {
    background-color: var(--page-bg-cyan);
    color: var(--very-dark-cyan);
    transition: all 100ms;
}
.btn-active {

    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    font-weight: var(--font-bolder);
}

.num-people-area {
    display: flex;
    flex-wrap: wrap;
}
.num-people-area label {
    flex-basis: 70%;
}


/*Classes para error state: active*/
.error-message {
    align-self: center;
    justify-self: flex-end;
    /* margin-right: 1em; */
    /* flex-shrink: 1; */
    /* margin-left: 3em; */
    text-align: right;
    color: red;
    display: inline;
    opacity: 100%;
}
.error-border {
    box-shadow: inset 1px 1px 0 1px red, inset -1px -1px 0 1px red;
}





.results-area {
    background-color: var(--very-dark-cyan);
    padding: 2em 1em;
    margin: 1em 1em 1em 0;
    display: flex;
    flex-direction: column;
}

.results-area-item {
    margin: .5em 1em;
    display: flex;
    justify-content: space-between;
}
.total-bill-person {
    flex-grow: 2;
}

.results-area-item .result-text {
    font-size: 1em;
}
.result-text h3 {
    font-size: .8em;
    color: var(--container-bg);
}
.result-text small {
    font-size: .6em;
    color: var(--page-bg-cyan);
}
.results-area-item .total {
    color: var(--strong-cyan);
    font-weight: 500;
    flex-grow: 1;
    text-align: end;
    flex-basis: 60%;
    justify-self: center;
}

.reset-btn {
    align-self: center;
    justify-content: center;
    background-color: hsl(183, 100%, 20%);
    width: 90%;
    font-weight: var(--font-bolder);
    text-transform: uppercase;
    border-radius: 5px;
    margin: 0 1em;
    padding: .1em 0;
    color: var(--very-dark-cyan);
}

.reset-btn:hover,
button[tip-button]:hover {
    background-color: var(--page-bg-cyan);
    color: var(--very-dark-cyan);
    transition: all 5ms;
}

@media (max-width: 800px) {
    .calc-container {
        flex-direction: column;
        padding: 1em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    header, footer {
        margin: 1em 0;
    }
    main {
        margin: 0;
    }
    .form-area {
        margin: 0;
    }
    .results-area {
        margin: 0;
    }
    .num-people-area label {
        flex-basis: 60%;
    }
    .num-people-area small {
        flex-basis: 38%;
        /* margin-right: .5em; */
    }
}

@media (max-width: 450px) {
    .form-area {
        padding: 0;
        margin: 0;
    }
}










.attribution { font-size: 11px; text-align: center; }
.attribution a { font-size: 11px; color: var(--very-dark-cyan); }


